In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv('data.csv')
df

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!Percent!!Estimate,Alabama!!Percent!!Margin of Error,Alabama!!Male!!Estimate,Alabama!!Male!!Margin of Error,Alabama!!Percent Male!!Estimate,Alabama!!Percent Male!!Margin of Error,Alabama!!Female!!Estimate,...,Puerto Rico!!Percent!!Estimate,Puerto Rico!!Percent!!Margin of Error,Puerto Rico!!Male!!Estimate,Puerto Rico!!Male!!Margin of Error,Puerto Rico!!Percent Male!!Estimate,Puerto Rico!!Percent Male!!Margin of Error,Puerto Rico!!Female!!Estimate,Puerto Rico!!Female!!Margin of Error,Puerto Rico!!Percent Female!!Estimate,Puerto Rico!!Percent Female!!Margin of Error
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"488,344","±5,417",(X),(X),"245,043","±4,090",(X),(X),"243,301",...,(X),(X),"151,694","±2,147",(X),(X),"147,321","±2,056",(X),(X)
2,Less than high school graduate,"58,089","±4,934",11.9%,±1.0,"34,613","±3,501",14.1%,±1.4,"23,476",...,7.2%,±0.8,"12,355","±1,852",8.1%,±1.2,"9,180","±1,829",6.2%,±1.2
3,High school graduate (includes equival...,"176,620","±8,332",36.2%,±1.6,"98,665","±4,827",40.3%,±1.9,"77,955",...,28.7%,±1.5,"52,446","±3,422",34.6%,±2.2,"33,480","±3,097",22.7%,±2.1
4,Some college or associate's degree,"208,994","±8,746",42.8%,±1.8,"93,866","±4,989",38.3%,±1.9,"115,128",...,52.5%,±1.5,"74,609","±3,478",49.2%,±2.1,"82,322","±3,646",55.9%,±2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Less than high school graduate,"28,515","±1,683",(X),(X),"32,089","±1,079",(X),(X),"22,016",...,(X),(X),"13,178","±1,192",(X),(X),"10,864","±2,075",(X),(X)
64,High school graduate (includes equival...,"34,127","±1,153",(X),(X),"41,600",±795,(X),(X),"26,337",...,(X),(X),"17,022",±409,(X),(X),"13,232",±836,(X),(X)
65,Some college or associate's degree,"39,501",±944,(X),(X),"51,002","±1,153",(X),(X),"31,607",...,(X),(X),"22,270",±832,(X),(X),"17,092",±523,(X),(X)
66,Bachelor's degree,"56,640","±1,667",(X),(X),"71,465","±2,183",(X),(X),"46,955",...,(X),(X),"30,686","±1,752",(X),(X),"26,274",±752,(X),(X)
67,Graduate or professional degree,"70,732","±1,893",(X),(X),"92,889","±5,549",(X),(X),"60,575",...,(X),(X),"50,423","±4,488",(X),(X),"35,885","±1,636",(X),(X)

In [3]:
df.columns

Index(['Label (Grouping)', 'Alabama!!Total!!Estimate',
       'Alabama!!Total!!Margin of Error', 'Alabama!!Percent!!Estimate',
       'Alabama!!Percent!!Margin of Error', 'Alabama!!Male!!Estimate',
       'Alabama!!Male!!Margin of Error', 'Alabama!!Percent Male!!Estimate',
       'Alabama!!Percent Male!!Margin of Error', 'Alabama!!Female!!Estimate',
       ...
       'Puerto Rico!!Percent!!Estimate',
       'Puerto Rico!!Percent!!Margin of Error', 'Puerto Rico!!Male!!Estimate',
       'Puerto Rico!!Male!!Margin of Error',
       'Puerto Rico!!Percent Male!!Estimate',
       'Puerto Rico!!Percent Male!!Margin of Error',
       'Puerto Rico!!Female!!Estimate', 'Puerto Rico!!Female!!Margin of Error',
       'Puerto Rico!!Percent Female!!Estimate',
       'Puerto Rico!!Percent Female!!Margin of Error'],
      dtype='object', length=625)

In [4]:
'Estimate' in 'Alabama!!Percent!!Estimate'

True

In [5]:
total=[]
states=[]
for col in df.columns:
    if 'Total' in col and 'Estimate' in col:
        total.append(col)

In [6]:
educational_level=df[total]

In [7]:
educational_level.columns = [re.findall(r"^(.*?)(?=\!)", col)[0] for col in educational_level.columns]

In [8]:
educational_level=educational_level.transpose()

In [9]:
col_name=[]
for i in np.array(df['Label (Grouping)']):
    cleaned_string = re.sub(r'\xa0+|^ +| +$', '', i)
    col_name.append(cleaned_string)

In [10]:
educational_level.columns=col_name

In [11]:
educational_level=educational_level.drop(educational_level.columns[0], axis=1)

In [12]:
educational_level.columns

Index(['Population 18 to 24 years', 'Less than high school graduate',
       'High school graduate (includes equivalency)',
       'Some college or associate's degree', 'Bachelor's degree or higher',
       'Population 25 years and over', 'Less than 9th grade',
       '9th to 12th grade, no diploma',
       'High school graduate (includes equivalency)',
       'Some college, no degree', 'Associate's degree', 'Bachelor's degree',
       'Graduate or professional degree', 'High school graduate or higher',
       'Bachelor's degree or higher', 'Population 25 to 34 years',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Population 35 to 44 years', 'High school graduate or higher',
       'Bachelor's degree or higher', 'Population 45 to 64 years',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Population 65 years and over', 'High school graduate or higher',
       'Bachelor's degree or higher',
       'RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT',
       'White alone', 'High school graduate or higher',
       'Bachelor's degree or higher', 'White alone, not Hispanic or Latino',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Black alone', 'High school graduate or higher',
       'Bachelor's degree or higher', 'American Indian or Alaska Native alone',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Asian alone', 'High school graduate or higher',
       'Bachelor's degree or higher',
       'Native Hawaiian and Other Pacific Islander alone',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Some other race alone', 'High school graduate or higher',
       'Bachelor's degree or higher', 'Two or more races',
       'High school graduate or higher', 'Bachelor's degree or higher',
       'Hispanic or Latino Origin', 'High school graduate or higher',
       'Bachelor's degree or higher',
       'POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL',
       'Less than high school graduate',
       'High school graduate (includes equivalency)',
       'Some college or associate's degree', 'Bachelor's degree or higher',
       'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2022 INFLATION-ADJUSTED DOLLARS)',
       'Population 25 years and over with earnings',
       'Less than high school graduate',
       'High school graduate (includes equivalency)',
       'Some college or associate's degree', 'Bachelor's degree',
       'Graduate or professional degree'],
      dtype='object')

In [13]:
educational_level = educational_level.loc[:, :'RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'].drop(educational_level.columns[-2:], axis=1)

In [14]:
educational_level

,Population 18 to 24 years,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Population 25 years and over,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency),"Some college, no degree",...,Population 35 to 44 years,High school graduate or higher,Bachelor's degree or higher,Population 45 to 64 years,High school graduate or higher,Bachelor's degree or higher,Population 65 years and over,High school graduate or higher,Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT
Alabama,"488,344","58,089","176,620","208,994","44,641","3,474,924","118,034","271,263","1,057,155","716,144",...,"632,416","562,939","202,288","1,277,343","1,132,566","365,267","913,013","790,146","236,624",NaN
Alaska,"68,620","7,801","33,068","22,097","5,654","489,218","10,950","21,719","142,455","116,078",...,"104,911","98,920","33,975","168,933","156,577","51,058","101,474","94,131","30,534",NaN
Arizona,"717,938","102,059","256,195","281,101","78,583","5,053,656","241,467","306,781","1,202,946","1,160,936",...,"926,470","818,205","323,779","1,726,541","1,517,145","558,646","1,381,954","1,244,972","448,159",NaN
Arkansas,"292,181","37,246","109,301","117,675","27,959","2,057,624","82,740","140,697","705,670","438,076",...,"387,640","349,937","116,022","745,265","655,777","178,560","538,842","470,509","121,339",NaN
California,"3,663,563","339,703","1,308,667","1,553,990","461,203","26,866,773","2,376,805","1,738,878","5,506,855","5,192,854",...,"5,395,388","4,650,072","2,198,152","9,568,024","7,798,413","3,310,766","6,158,902","5,036,014","2,075,419",NaN
Colorado,"544,827","59,947","187,892","212,694","84,294","4,084,004","114,089","170,479","823,109","762,179",...,"860,355","792,774","425,135","1,392,046","1,280,829","612,473","915,661","858,359","382,208",NaN
Connecticut,"350,593","33,078","99,270","150,389","67,856","2,545,188","100,376","115,659","660,047","405,693",...,"460,313","422,321","210,590","970,653","891,663","401,823","663,712","589,841","241,980",NaN
Delaware,"86,128","11,470","33,298","32,364","8,996","724,041","18,944","38,980","204,385","135,691",...,"125,307","114,063","50,585","255,991","236,022","88,168","212,180","194,953","73,696",NaN
District of Columbia,"68,328","4,435","13,678","28,522","21,693","479,231","10,203","20,152","64,543","55,085",...,"111,221","107,309","81,821","135,403","121,324","75,462","87,354","78,084","42,244",NaN
Florida,"1,845,519","229,379","638,736","754,968","222,436","16,104,410","679,435","943,495","4,363,609","2,955,638",...,"2,799,499","2,528,694","1,053,736","5,726,736","5,161,026","1,898,957","4,794,414","4,235,312","1,541,145",NaN
Georgia,"1,074,228","151,971","387,826","406,237","128,194","7,332,980","292,438","476,498","1,979,843","1,401,114",...,"1,469,050","1,306,503","569,020","2,735,658","2,466,192","939,825","1,644,275","1,426,678","479,093",NaN
Hawaii,"119,487","10,935","51,519","42,119","14,914","1,023,843","32,373","40,369","273,910","200,539",...,"192,131","181,699","75,147","346,967","325,240","123,644","294,654","264,848","97,815",NaN
Idaho,"194,235","25,593","71,675","80,888","16,079","1,280,178","44,365","57,919","333,105","305,642",...,"256,103","234,506","91,142","444,202","402,118","136,910","329,530","306,706","101,033",NaN
Illinois,"1,172,987","124,779","411,110","444,301","192,797","8,692,839","401,489","432,890","2,187,110","1,664,034",...,"1,673,268","1,525,068","742,344","3,164,813","2,825,058","1,124,235","2,164,940","1,909,981","650,215",NaN
Indiana,"679,203","98,241","256,463","249,196","75,303","4,584,460","163,963","285,425","1,472,890","880,898",...,"866,145","780,543","305,841","1,673,938","1,515,770","472,617","1,157,426","1,036,183","276,418",NaN
Iowa,"324,258","33,490","101,453","149,140","40,175","2,159,511","53,334","87,687","637,844","424,541",...,"405,073","376,887","159,885","763,893","714,403","236,387","588,879","550,861","154,547",NaN
Kansas,"304,047","35,396","104,924","130,090","33,637","1,944,891","69,198","84,983","491,928","429,452",...,"382,629","351,312","151,774","678,601","618,735","238,781","506,342","467,696","157,679",NaN
Kentucky,"415,931","49,978","171,393","145,880","48,680","3,091,499","132,132","207,927","1,002,671","615,118",...,"569,323","516,328","189,398","1,143,904","1,023,399","304,341","791,113","668,131","177,551",NaN
Louisiana,"435,260","60,146","160,986","176,961","37,167","3,096,121","128,792","264,491","1,006,184","635,109",...,"611,300","539,909","194,091","1,112,694","960,398","278,323","780,061","662,884","185,511",NaN
Maine,"109,708","9,705","39,802","45,073","15,128","1,030,141","17,176","37,992","310,778","182,869",...,"169,999","162,572","73,348","381,373","362,077","124,524","312,893","291,837","110,317",NaN
Maryland,"531,713","61,251","179,698","200,114","90,650","4,286,216","166,900","201,017","1,009,588","735,131",...,"840,212","765,924","408,094","1,598,273","1,460,600","703,152","1,042,779","935,471","397,255",NaN
Massachusetts,"698,602","65,269","211,085","270,517","151,731","4,947,384","215,221","213,531","1,136,350","706,147",...,"907,291","837,530","472,959","1,811,372","1,650,745","800,410","1,260,100","1,112,317","477,909",NaN
Michigan,"948,938","109,516","346,112","379,626","113,684","6,978,952","186,608","383,114","1,962,345","1,531,132",...,"1,219,208","1,123,829","451,435","2,566,809","2,366,807","807,646","1,877,562","1,701,044","509,254",NaN
Minnesota,"510,406","63,715","164,301","203,082","79,308","3,918,565","104,599","129,282","917,132","767,894",...,"781,414","724,749","349,998","1,399,083","1,318,063","534,052","995,047","936,269","315,829",NaN
Mississippi,"300,650","45,268","107,203","125,406","22,773","1,963,322","83,604","159,922","604,163","419,570",...,"379,896","337,766","108,131","718,726","631,110","173,282","513,184","429,746","113,899",NaN
Missouri,"579,156","63,378","201,780","238,622","75,376","4,236,010","121,100","236,517","1,275,978","888,683",...,"794,549","732,248","293,096","1,519,362","1,387,674","478,209","1,113,136","1,000,542","297,175",NaN
Montana,"103,247","11,681","41,016","39,084","11,466","785,438","17,129","29,622","217,592","175,026",...,"146,403","137,731","59,620","266,921","252,542","87,922","226,136","211,567","72,331",NaN
Nebraska,"193,132","21,843","58,308","87,744","25,237","1,300,094","43,545","50,163","326,031","280,716",...,"263,908","244,230","105,475","450,306","417,142","149,225","334,897","309,589","98,714",NaN
Nevada,"264,267","36,060","111,438","97,297","19,472","2,223,852","122,480","157,311","620,161","529,301",...,"440,794","381,301","129,774","788,145","672,364","203,486","538,491","476,385","152,023",NaN
New Hampshire,"118,758","14,721","44,151","43,332","16,554","1,024,780","13,651","42,354","277,802","172,068",...,"172,049","163,053","78,242","388,745","366,677","156,771","281,983","263,958","107,100",NaN
New Jersey,"789,299","86,785","247,440","305,667","149,407","6,482,223","306,069","295,935","1,635,078","987,198",...,"1,233,720","1,125,510","619,626","2,452,956","2,219,735","1,031,377","1,611,726","1,415,272","567,472",NaN
New Mexico,"204,740","29,849","82,161","77,133","15,597","1,453,129","72,755","101,546","374,107","329,832",...,"275,394","244,187","88,491","498,637","428,186","151,208","404,784","354,241","127,830",NaN
New York,"1,803,672","170,910","545,995","721,100","365,667","13,892,241","833,414","847,799","3,413,879","2,016,959",...,"2,536,794","2,269,578","1,166,158","5,028,601","4,385,456","1,853,755","3,564,596","3,000,042","1,147,387",NaN
North Carolina,"1,033,925","114,866","359,824","423,793","135,442","7,372,120","274,345","448,375","1,834,892","1,423,798",...,"1,376,684","1,239,886","556,977","2,708,393","2,448,366","959,394","1,866,614","1,646,233","575,728",NaN
North Dakota,"83,510","6,823","22,770","40,096","13,821","514,786","13,639","17,939","131,842","114,375",...,"106,486","99,371","35,992","165,282","158,305","50,938","130,293","119,215","33,244",NaN
Ohio,"1,066,973","132,185","412,603","391,241","130,944","8,130,929","214,728","455,705","2,597,720","1,549,620",...,"1,475,428","1,358,243","563,721","2,947,765","2,712,139","914,075","2,168,665","1,952,577","557,675",NaN
Oklahoma,"405,237","55,020","158,001","157,173","35,043","2,661,141","94,433","183,435","813,545","587,170",...,"532,522","475,606","174,940","931,666","826,691","259,355","661,996","593,680","174,510",NaN
Oregon,"363,840","46,838","133,624","146,140","37,238","3,043,930","109,141","145,455","690,248","721,161",...,"593,849","542,286","246,941","1,037,020","935,353","358,284","816,714","757,493","279,017",NaN
Pennsylvania,"1,198,106","139,471","419,227","462,493","176,915","9,151,744","253,940","461,170","3,019,642","1,394,205",...,"1,623,572","1,513,298","701,061","3,311,797","3,058,936","1,105,151","2,539,054","2,285,144","693,355",NaN
Rhode Island,"112,397","13,846","35,441","42,978","20,132","778,191","37,489","36,503","192,219","141,095",...,"137,922","126,922","64,522","283,173","253,777","106,119","206,117","180,168","68,734",NaN
South Carolina,"500,570","61,972","187,647","192,740","58,211","3,664,922","102,113","246,891","1,015,742","736,823",...,"667,920","600,946","246,889","1,324,722","1,209,389","419,926","1,008,618","890,481","300,531",NaN
South Dakota,"85,108","11,182","31,547","33,150","9,229","605,735","17,732","23,641","177,171","115,863",...,"116,031","110,284","44,475","212,643","199,134","61,581","165,909","151,994","45,084",NaN
Tennessee,"648,096","64,780","256,807","245,312","81,197","4,868,110","172,298","297,214","1,523,487","979,617",...,"909,015","829,787","329,567","1,776,943","1,605,649","529,973","1,217,964","1,057,851","315,598",NaN
Texas,"2,992,526","425,179","1,068,636","1,142,295","356,416","19,597,383","1,406,769","1,315,239","4,733,230","3,970,970",...,"4,238,922","3,713,767","1,611,616","6,992,019","5,897,621","2,300,750","4,037,085","3,349,143","1,209,328",NaN
Utah,"407,295","43,058","145,577","185,125","33,535","2,042,912","61,132","81,503","449,458","472,228",...,"461,217","428,996","194,966","683,220","624,819","250,373","403,699","377,762","139,581",NaN
Vermont,"65,687","6,900","22,605","28,454","7,728","467,643","7,709","15,759","121,782","74,187",...,"80,179","76,937","41,584","170,122","161,055","69,806","139,827","130,633","58,373",NaN
Virginia,"842,750","79,815","305,363","331,801","125,771","5,978,782","209,876","295,899","1,431,624","1,067,612",...,"1,180,820","1,094,498","564,482","2,179,298","1,994,380","911,500","1,462,042","1,287,105","524,235",NaN
Washington,"671,550","85,472","244,136","235,801","106,141","5,470,209","192,061","236,434","1,176,424","1,161,011",...,"1,115,638","1,022,651","486,138","1,869,132","1,704,326","701,558","1,309,142","1,214,848","464,118",NaN
West Virginia,"161,047","17,552","67,403","58,928","17,164","1,262,566","43,318","93,833","484,166","216,917",...,"216,666","198,663","67,069","462,646","409,404","107,315","376,162","323,520","77,863",NaN
Wisconsin,"562,259","59,412","208,947","211,854","82,046","4,088,500","99,448","167,049","1,209,135","798,565",...,"742,993","697,716","291,421","1,509,392","1,406,799","481,242","1,102,386","1,022,332","302,313",NaN
Wyoming,"51,982","8,362","16,981","22,917","3,722","399,796","8,563","16,511","109,092","99,620",...,"81,607","74,936","26,364","137,767","130,377","42,005","107,988","100,830","28,667",NaN
Puerto Rico,"299,015","21,535","85,926","156,931","34,623","2,404,438","282,929","157,638","671,662","289,890",...,"398,749","361,435","132,177","843,009","722,608","280,916","756,846","493,026","155,589",NaN

In [15]:
column_counts = {}
new_columns=[]
for column in educational_level.columns:
    if column in column_counts:
        column_counts[column] += 1
        new_column_name = f"{column}_{column_counts[column]}"
    else:
        column_counts[column] = 0
        new_column_name = column
    new_columns.append(new_column_name)

# Assign new column names to the DataFrame
educational_level.columns = new_columns

In [16]:
educational_level.columns

Index(['Population 18 to 24 years', 'Less than high school graduate',
       'High school graduate (includes equivalency)',
       'Some college or associate's degree', 'Bachelor's degree or higher',
       'Population 25 years and over', 'Less than 9th grade',
       '9th to 12th grade, no diploma',
       'High school graduate (includes equivalency)_1',
       'Some college, no degree', 'Associate's degree',
       'High school graduate or higher', 'Bachelor's degree or higher_1',
       'Population 25 to 34 years', 'High school graduate or higher_1',
       'Bachelor's degree or higher_2', 'Population 35 to 44 years',
       'High school graduate or higher_2', 'Bachelor's degree or higher_3',
       'Population 45 to 64 years', 'High school graduate or higher_3',
       'Bachelor's degree or higher_4', 'Population 65 years and over',
       'High school graduate or higher_4', 'Bachelor's degree or higher_5',
       'RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT'],
      dtype='object')

In [17]:
cols=[]
for col in educational_level.columns:
    if 'years' not in col: 
        cols.append(col)

In [18]:
educational_level=educational_level[cols]
educational_level

,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree or higher,Less than 9th grade,"9th to 12th grade, no diploma",High school graduate (includes equivalency)_1,"Some college, no degree",Associate's degree,High school graduate or higher,Bachelor's degree or higher_1,High school graduate or higher_1,Bachelor's degree or higher_2,High school graduate or higher_2,Bachelor's degree or higher_3,High school graduate or higher_3,Bachelor's degree or higher_4,High school graduate or higher_4,Bachelor's degree or higher_5,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT
Alabama,"58,089","176,620","208,994","44,641","118,034","271,263","1,057,155","716,144","311,537","3,085,627","1,000,791","599,976","196,612","562,939","202,288","1,132,566","365,267","790,146","236,624",NaN
Alaska,"7,801","33,068","22,097","5,654","10,950","21,719","142,455","116,078","48,370","456,549","149,646","106,921","34,079","98,920","33,975","156,577","51,058","94,131","30,534",NaN
Arizona,"102,059","256,195","281,101","78,583","241,467","306,781","1,202,946","1,160,936","475,387","4,505,408","1,666,139","925,086","335,555","818,205","323,779","1,517,145","558,646","1,244,972","448,159",NaN
Arkansas,"37,246","109,301","117,675","27,959","82,740","140,697","705,670","438,076","167,634","1,834,187","522,807","357,964","106,886","349,937","116,022","655,777","178,560","470,509","121,339",NaN
California,"339,703","1,308,667","1,553,990","461,203","2,376,805","1,738,878","5,506,855","5,192,854","2,115,440","22,751,090","9,935,941","5,266,591","2,351,604","4,650,072","2,198,152","7,798,413","3,310,766","5,036,014","2,075,419",NaN
Colorado,"59,947","187,892","212,694","84,294","114,089","170,479","823,109","762,179","339,016","3,799,436","1,875,132","867,474","455,316","792,774","425,135","1,280,829","612,473","858,359","382,208",NaN
Connecticut,"33,078","99,270","150,389","67,856","100,376","115,659","660,047","405,693","197,009","2,329,153","1,066,404","425,328","212,011","422,321","210,590","891,663","401,823","589,841","241,980",NaN
Delaware,"11,470","33,298","32,364","8,996","18,944","38,980","204,385","135,691","61,657","666,117","264,384","121,079","51,935","114,063","50,585","236,022","88,168","194,953","73,696",NaN
District of Columbia,"4,435","13,678","28,522","21,693","10,203","20,152","64,543","55,085","15,974","448,876","313,274","142,159","113,747","107,309","81,821","121,324","75,462","78,084","42,244",NaN
Florida,"229,379","638,736","754,968","222,436","679,435","943,495","4,363,609","2,955,638","1,643,815","14,481,480","5,518,418","2,556,448","1,024,580","2,528,694","1,053,736","5,161,026","1,898,957","4,235,312","1,541,145",NaN
Georgia,"151,971","387,826","406,237","128,194","292,438","476,498","1,979,843","1,401,114","638,973","6,564,044","2,544,114","1,364,671","556,176","1,306,503","569,020","2,466,192","939,825","1,426,678","479,093",NaN
Hawaii,"10,935","51,519","42,119","14,914","32,373","40,369","273,910","200,539","113,948","951,101","362,704","179,314","66,098","181,699","75,147","325,240","123,644","264,848","97,815",NaN
Idaho,"25,593","71,675","80,888","16,079","44,365","57,919","333,105","305,642","125,979","1,177,894","413,168","234,564","84,083","234,506","91,142","402,118","136,910","306,706","101,033",NaN
Illinois,"124,779","411,110","444,301","192,797","401,489","432,890","2,187,110","1,664,034","731,898","7,858,460","3,275,418","1,598,353","758,624","1,525,068","742,344","2,825,058","1,124,235","1,909,981","650,215",NaN
Indiana,"98,241","256,463","249,196","75,303","163,963","285,425","1,472,890","880,898","424,272","4,135,072","1,357,012","802,576","302,136","780,543","305,841","1,515,770","472,617","1,036,183","276,418",NaN
Iowa,"33,490","101,453","149,140","40,175","53,334","87,687","637,844","424,541","258,299","2,018,490","697,806","376,339","146,987","376,887","159,885","714,403","236,387","550,861","154,547",NaN
Kansas,"35,396","104,924","130,090","33,637","69,198","84,983","491,928","429,452","176,787","1,790,710","692,543","352,967","144,309","351,312","151,774","618,735","238,781","467,696","157,679",NaN
Kentucky,"49,978","171,393","145,880","48,680","132,132","207,927","1,002,671","615,118","272,315","2,751,440","861,336","543,582","190,046","516,328","189,398","1,023,399","304,341","668,131","177,551",NaN
Louisiana,"60,146","160,986","176,961","37,167","128,792","264,491","1,006,184","635,109","221,439","2,702,838","840,106","539,647","182,181","539,909","194,091","960,398","278,323","662,884","185,511",NaN
Maine,"9,705","39,802","45,073","15,128","17,176","37,992","310,778","182,869","109,768","974,973","371,558","158,487","63,369","162,572","73,348","362,077","124,524","291,837","110,317",NaN
Maryland,"61,251","179,698","200,114","90,650","166,900","201,017","1,009,588","735,131","294,875","3,918,299","1,878,705","756,304","370,204","765,924","408,094","1,460,600","703,152","935,471","397,255",NaN
Massachusetts,"65,269","211,085","270,517","151,731","215,221","213,531","1,136,350","706,147","368,426","4,518,632","2,307,709","918,040","556,431","837,530","472,959","1,650,745","800,410","1,112,317","477,909",NaN
Michigan,"109,516","346,112","379,626","113,684","186,608","383,114","1,962,345","1,531,132","673,901","6,409,230","2,241,852","1,217,550","473,517","1,123,829","451,435","2,366,807","807,646","1,701,044","509,254",NaN
Minnesota,"63,715","164,301","203,082","79,308","104,599","129,282","917,132","767,894","465,947","3,684,684","1,533,711","705,603","333,832","724,749","349,998","1,318,063","534,052","936,269","315,829",NaN
Mississippi,"45,268","107,203","125,406","22,773","83,604","159,922","604,163","419,570","209,877","1,719,796","486,186","321,174","90,874","337,766","108,131","631,110","173,282","429,746","113,899",NaN
Missouri,"63,378","201,780","238,622","75,376","121,100","236,517","1,275,978","888,683","349,715","3,878,393","1,364,017","757,929","295,537","732,248","293,096","1,387,674","478,209","1,000,542","297,175",NaN
Montana,"11,681","41,016","39,084","11,466","17,129","29,622","217,592","175,026","74,327","738,687","271,742","136,847","51,869","137,731","59,620","252,542","87,922","211,567","72,331",NaN
Nebraska,"21,843","58,308","87,744","25,237","43,545","50,163","326,031","280,716","149,122","1,206,386","450,517","235,425","97,103","244,230","105,475","417,142","149,225","309,589","98,714",NaN
Nevada,"36,060","111,438","97,297","19,472","122,480","157,311","620,161","529,301","193,387","1,944,061","601,212","414,011","115,929","381,301","129,774","672,364","203,486","476,385","152,023",NaN
New Hampshire,"14,721","44,151","43,332","16,554","13,651","42,354","277,802","172,068","95,635","968,775","423,270","175,087","81,157","163,053","78,242","366,677","156,771","263,958","107,100",NaN
New Jersey,"86,785","247,440","305,667","149,407","306,069","295,935","1,635,078","987,198","436,335","5,880,219","2,821,608","1,119,702","603,133","1,125,510","619,626","2,219,735","1,031,377","1,415,272","567,472",NaN
New Mexico,"29,849","82,161","77,133","15,597","72,755","101,546","374,107","329,832","132,292","1,278,828","442,597","252,214","75,068","244,187","88,491","428,186","151,208","354,241","127,830",NaN
New York,"170,910","545,995","721,100","365,667","833,414","847,799","3,413,879","2,016,959","1,223,629","12,211,028","5,556,561","2,555,952","1,389,261","2,269,578","1,166,158","4,385,456","1,853,755","3,000,042","1,147,387",NaN
North Carolina,"114,866","359,824","423,793","135,442","274,345","448,375","1,834,892","1,423,798","742,711","6,649,400","2,647,999","1,314,915","555,900","1,239,886","556,977","2,448,366","959,394","1,646,233","575,728",NaN
North Dakota,"6,823","22,770","40,096","13,821","13,639","17,939","131,842","114,375","73,150","483,208","163,841","106,317","43,667","99,371","35,992","158,305","50,938","119,215","33,244",NaN
Ohio,"132,185","412,603","391,241","130,944","214,728","455,705","2,597,720","1,549,620","712,777","7,460,496","2,600,379","1,437,537","564,908","1,358,243","563,721","2,712,139","914,075","1,952,577","557,675",NaN
Oklahoma,"55,020","158,001","157,173","35,043","94,433","183,435","813,545","587,170","223,641","2,383,273","758,917","487,296","150,112","475,606","174,940","826,691","259,355","593,680","174,510",NaN
Oregon,"46,838","133,624","146,140","37,238","109,141","145,455","690,248","721,161","271,686","2,789,334","1,106,239","554,202","221,997","542,286","246,941","935,353","358,284","757,493","279,017",NaN
Pennsylvania,"139,471","419,227","462,493","176,915","253,940","461,170","3,019,642","1,394,205","813,094","8,436,634","3,209,693","1,579,256","710,126","1,513,298","701,061","3,058,936","1,105,151","2,285,144","693,355",NaN
Rhode Island,"13,846","35,441","42,978","20,132","37,489","36,503","192,219","141,095","62,473","704,199","308,412","143,332","69,037","126,922","64,522","253,777","106,119","180,168","68,734",NaN
South Carolina,"61,972","187,647","192,740","58,211","102,113","246,891","1,015,742","736,823","368,850","3,315,918","1,194,503","615,102","227,157","600,946","246,889","1,209,389","419,926","890,481","300,531",NaN
South Dakota,"11,182","31,547","33,150","9,229","17,732","23,641","177,171","115,863","80,011","564,362","191,317","102,950","40,177","110,284","44,475","199,134","61,581","151,994","45,084",NaN
Tennessee,"64,780","256,807","245,312","81,197","172,298","297,214","1,523,487","979,617","381,534","4,398,598","1,513,960","905,311","338,822","829,787","329,567","1,605,649","529,973","1,057,851","315,598",NaN
Texas,"425,179","1,068,636","1,142,295","356,416","1,406,769","1,315,239","4,733,230","3,970,970","1,519,767","16,875,375","6,651,408","3,914,844","1,529,714","3,713,767","1,611,616","5,897,621","2,300,750","3,349,143","1,209,328",NaN
Utah,"43,058","145,577","185,125","33,535","61,132","81,503","449,458","472,228","203,542","1,900,277","775,049","468,700","190,129","428,996","194,966","624,819","250,373","377,762","139,581",NaN
Vermont,"6,900","22,605","28,454","7,728","7,709","15,759","121,782","74,187","41,367","444,175","206,839","75,550","37,076","76,937","41,584","161,055","69,806","130,633","58,373",NaN
Virginia,"79,815","305,363","331,801","125,771","209,876","295,899","1,431,624","1,067,612","451,737","5,473,007","2,522,034","1,097,024","521,817","1,094,498","564,482","1,994,380","911,500","1,287,105","524,235",NaN
Washington,"85,472","244,136","235,801","106,141","192,061","236,434","1,176,424","1,161,011","544,596","5,041,714","2,159,683","1,099,889","507,869","1,022,651","486,138","1,704,326","701,558","1,214,848","464,118",NaN
West Virginia,"17,552","67,403","58,928","17,164","43,318","93,833","484,166","216,917","111,246","1,125,415","313,086","193,828","60,839","198,663","67,069","409,404","107,315","323,520","77,863",NaN
Wisconsin,"59,412","208,947","211,854","82,046","99,448","167,049","1,209,135","798,565","455,882","3,822,003","1,358,421","695,156","283,445","697,716","291,421","1,406,799","481,242","1,022,332","302,313",NaN
Wyoming,"8,362","16,981","22,917","3,722","8,563","16,511","109,092","99,620","47,844","374,722","118,166","68,579","21,130","74,936","26,364","130,377","42,005","100,830","28,667",NaN
Puerto Rico,"21,535","85,926","156,931","34,623","282,929","157,638","671,662","289,890","284,600","1,963,871","717,719","386,802","149,037","361,435","132,177","722,608","280,916","493,026","155,589",NaN

In [19]:
educational_level = educational_level.replace(',', '', regex=True).astype(float)
educational_level.fillna(0, inplace=True)
less_than_high_school=np.array([])
high_school=np.array([])
bachelor_or_higher=np.array([])
some_college=np.array([])

In [20]:
less_than_high_school=np.zeros(52)
high_school=np.zeros(52)
bachelor_or_higher=np.zeros(52)
some_college=np.zeros(52)

In [21]:
for i in educational_level.columns:
    col_name=i.lower()
    print(i)
    if col_name.startswith("less"):
        less_than_high_school+= np.array(educational_level[i])
    elif col_name.startswith("high") or col_name.startswith("9th"):
        high_school+=np.array(educational_level[i])
    elif col_name.startswith("bachelor's"):
        bachelor_or_higher+= np.array(educational_level[i])
    else:
        some_college += np.array(educational_level[i])

Less than high school graduate
High school graduate (includes equivalency)
Some college or associate's degree
Bachelor's degree or higher
Less than 9th grade
9th to 12th grade, no diploma
High school graduate (includes equivalency)_1
Some college, no degree
Associate's degree
High school graduate or higher
Bachelor's degree or higher_1
High school graduate or higher_1
Bachelor's degree or higher_2
High school graduate or higher_2
Bachelor's degree or higher_3
High school graduate or higher_3
Bachelor's degree or higher_4
High school graduate or higher_4
Bachelor's degree or higher_5
RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT

In [22]:
educational_level['some_college']=some_college
educational_level['less_than_high_school']=less_than_high_school
educational_level['high_school']=high_school
educational_level['bachelor_or_higher']=bachelor_or_higher

In [23]:
educational_level=educational_level[['less_than_high_school','high_school','some_college','bachelor_or_higher']]

In [24]:
educational_level=educational_level.astype(int)
educational_level

,less_than_high_school,high_school,some_college,bachelor_or_higher
Alabama,176123,7676292,1236675,2046223
Alaska,18751,1110340,186545,304946
Arizona,343526,10776738,1917424,3410861
Arkansas,119986,4624042,723385,1073573
California,2716508,54056580,8862284,20333085
Colorado,174036,8780352,1313889,3834558
Connecticut,133454,5533282,753091,2200664
Delaware,30414,1608897,229712,537764
District of Columbia,14638,996125,99581,648241
Florida,908814,34908800,5354421,11259272
Georgia,444409,15972255,2446324,5216422
Hawaii,43308,2268000,356606,740322
Idaho,69958,2818487,512509,842415
Illinois,526268,18748030,2840233,6743633
Indiana,262204,10284922,1554366,2789327
Iowa,86824,4863964,831980,1435787
Kansas,104594,4263255,736329,1418723
Kentucky,182110,6884871,1033313,1771352
Louisiana,188938,6837337,1033509,1717379
Maine,26881,2338518,337710,758244
Maryland,228151,9226901,1230120,3848060
Massachusetts,280490,10598230,1345090,4767149
Michigan,296124,15510031,2584659,4597388
Minnesota,168314,8580083,1436923,3146730
Mississippi,128872,4310880,754853,995145
Missouri,184478,9471061,1477020,2803410
Montana,28810,1765604,288437,554950
Nebraska,65388,2847274,517582,926271
Nevada,158540,4777032,819985,1221896
New Hampshire,28372,2301857,311035,863094
New Jersey,392854,13938891,1729200,5792623
New Mexico,102604,3115470,539257,900791
New York,1004324,29229729,3961688,11478789
North Carolina,389211,15941891,2590302,5431440
North Dakota,20462,1138967,227621,341503
Ohio,346913,18387020,2653638,5331702
Oklahoma,149453,5921527,967984,1552877
Oregon,155979,6547995,1138987,2249716
Pennsylvania,393411,20773307,2669792,6596301
Rhode Island,51335,1672561,246546,636956
South Carolina,164085,8082116,1298413,2447217
South Dakota,28914,1361083,229024,391863
Tennessee,237078,10874704,1606463,3109117
Texas,1831948,40867855,6633032,13659232
Utah,104190,4477092,860895,1583633
Vermont,14609,1048496,144008,421406
Virginia,289691,12978900,1851150,5169839
Washington,277533,11740422,1941408,4425507
West Virginia,60870,2896232,387091,643336
Wisconsin,158860,9229137,1466301,2798888
Wyoming,16925,892028,170381,240054
Puerto Rico,304464,4842968,731421,1470061